<launch>

<include file="$(find exploration_map_node)/launch/exploration_map_node.launch"/> 

<include file="$(find utacc_multimaster)/launch/segbot_gateway.launch"/> 

<node name="segbot_status_pub" pkg="rostopic" type="rostopic" args="pub -r 1 /segbot_status utacc_msgs/MissionStatus '{}' "/>

<node name="fake_image_pub" pkg="occ" type="fake_image_pub" args="ooi_image_segbot"/>

<node name="goal_relay" pkg="topic_tools" type="relay" args="segbot_goal_e2 goal"/>

<node name="image_relay" pkg="image_transport" type="republish" args="compressed in:=segbot_cam/image_raw raw out:=segbot_cam"/>

</launch>
