<launch>

<include file="$(find uav_launch)/launch/uav_launch.launch"/>

<include file="$(find exploration_map_node)/launch/exploration_map_node.launch"/> 

<include file="$(find utacc_multimaster)/launch/hexa_gateway.launch"/> 

<node name="hexarotor_status_pub" pkg="rostopic" type="rostopic" args="pub -r 1 /hexa_status utacc_msgs/MissionStatus '{}' "/>

</launch>
