<launch>

<include file="$(find uav_launch)/launch/uav_launch.launch"/>

<include file="$(find exploration_map_node)/launch/exploration_map_node.launch"/> 

<include file="$(find utacc_multimaster)/launch/hexa_gateway.launch"/> 

<include file="$(find utacc_exploration)/launch/hexa_exploration_executive.launch"/>

<include file="$(find ooi_detection)/launch/hexa_detection.launch"/>

<node name="goal_relay" pkg="topic_tools" type="relay" args="hexa_active_goal goal_pose"/>

<node name="image_relay" pkg="image_transport" type="republish" args="compressed in:=hexa_cam/image_raw raw out:=hexa_cam"/>

</launch>
