<launch>

<include file="$(find map_merger_node)/launch/launch/map_merger_node.launch"> 

<include file="$(find explore3d)/launch/launch/explore-3d.launch"> 

<include file="$(find utacc_multimaster)/launch/launch/utacc_hub.launch.launch"> 

<include file="$(find utacc_multimaster)/launch/launch/laptop_gateway.launch"> 

</launch>