<launch>

    <node pkg="exploration_map" type="exploration_map_node" respawn="false" name="exploration_map_node" output="screen">
        <rosparam file = "$(find exploration_map)/config/exploration_map_node/exploration_map_node_config.yaml" command="load"/>
        <rosparam file = "$(find utacc_exploration)/config/exploration_common.yaml" command="load"/>
        <remap from="/exploration_map_node/exploration_map" to="segbot_map"/>
        <remap from="/exploration_map_node/robot_pose" to="segbot_pose"/>
    </node>

    <node pkg="exploration_map" type="camera_node" respawn="false" name="camera_scan_node">
        <rosparam file = "$(find exploration_map)/config/camera_node/camera_node_config.yaml" command="load"/>
    </node>
</launch>
