<launch>
    <arg name="ns" default="false"/>

    <group if="$(arg ns)" ns="segbot">
        <param name="tf_prefix" value="segbot"/>
        <include file="$(find exploration_map)/launch/exploration_map_segbot_base.launch"/>
    </group>
    <group unless="$(arg ns)">
        <include file="$(find exploration_map)/launch/exploration_map_segbot_base.launch"/>
    </group>
</launch>
