<launch>
    <node name="exploration_map" pkg="exploration_map" type="exploration_map_node">
        <rosparam command="load" file="$(find exploration)/config/exploration_map_node/exploration_map_node_config.yaml"/>
        <rosparam command="load" file="$(find utacc_exploration)/config/exploration_common.yaml"/>
        <remap from="exploration_map_node/exploration_map" to="hexa_map"/>
        <remap from="exploration_map_node/robot_pose" to="hexa_pose"/>
    </node>

    <node pkg="exploration_map" type="camera_node" name="camera_scan_node">
        <rosparam command="load" file="$(find exploration_map)/config/camera_node/camera_node_config.yaml"/>
        <remap from="image" to="hexa_cam/image"/>
    </node>
</launch>
