<launch>
    <arg name="ns" default="false"/>

    <group if="$(arg ns)" ns="hexacopter">
        <param name="tf_prefix" value="hexacopter"/>
        <include file="$(find exploration_map)/launch/exploration_map_hexa_base.launch"/>
    </group>
    <group unless="$(arg ns)">
        <include file="$(find exploration_map)/launch/exploration_map_hexa_base.launch"/>
    </group>
</launch>
