<launch>
    <node pkg="exploration_map" type="map_merger_node" respawn="false" name="map_merger_node">
        <rosparam command="load" file="$(find exploration_map)/config/map_merger/map_merger_segbot.yaml"/>
        <rosparam command="load" file="$(find exploration_map)/config/exploration_common.yaml"/>
    </node>
</launch>
